body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(95, 177, 255);
}
.forky{
    position: absolute;
    top: 50%;
    left: 50%;
}
.face{
    width: 300px;
    height: 300px;
    background: #f0f0f0;
    position: absolute;
    border-radius: 65% 30% 65% 28%;
    top: -135px;
    left: -147px;
    transform: rotate(-45deg);
}
.face-mask{
    width: 300px;
    height: 60px;
    background: rgb(95, 177, 255);
    position: absolute;
    top: -160px;
    left: -147px;
}
.fork1, .fork4{
    width: 193px;
    height: 189px;
    background: #f0f0f0;
    position: absolute;
    border-radius: 100% 0% 97% 3% / 91% 0% 99% 3%;
    top: -121px;
    left: -159px;
    transform: rotate(-45deg);
}
.fork2, .fork3{
    width: 122px;
    height: 77px;
    background: #f0f0f0;
    position: absolute;
    border-radius: 100% 0% 86% 14% / 98% 0% 100% 2%;
    top: -141px;
    left: -88px;
    transform: rotate(128deg);
}
.fork3{
    left: -34px;
    transform: rotate(50deg) rotateY(180deg);
}
.fork4{
    left: -37px;
    transform: rotate(45deg) rotateY(180deg);
}
.eyes{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.eye {
    width: 110px;
    height: 110px;
    background: white;
    position: relative;
    border-radius: 50%;
    top: 28px;
    left: -99px;
    box-shadow: 1px 1px 3px #888787;
    overflow: hidden;

}
.ball {
    width: 70px;
    height: 70px;
    background: black;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    box-shadow: 1px 1px 3px #888787;
    transform: translate(-50%, -50%);
}
.eye1 {
    width: 70px;
    height: 70px;
    background: white;
    position: relative;
    border-radius: 50%;
    top: -50px;
    left: 28px;
    box-shadow: 1px 1px 3px #888787;
    overflow: hidden;
}
.ball1 {
    width: 30px;
    height: 30px;
    background: black;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    box-shadow: 1px 1px 3px #888787;
    transform: translate(-50%, -50%);
}
.mouth1 {
    width: 120px;
    height: 81px;
    position: absolute;
    border-radius: 42% 17% 70% 44% / 32% 26% 80% 73%;
    border: 15px solid #71acc8;
    top: 46px;
    left: -60px;
    clip-path: polygon(0 33);
    box-shadow: 1px 1px 10px #888787;
}
.mounth2{
    width: 120px;
    height: 810px;
    position: absolute;
    border-radius: 42% 17% 70% 44% / 32% 26% 80% 73%;
    border: 15px solid #71acc8;
    top: 46px;
    left: -60px;

}

